ul {
    list-style: none;
}

ul li {
    padding: 15px;
    background-color: #eee;
    margin-bottom: 15px;
}

ul li span {
    display: inline-block;
    margin-right: 15px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #444;
}